.section-2-limit-all-products {
    margin-top: 150px;
    padding: 0 40px;
}


.section-2-limit-all-products>ul {
    display: grid;
    height: fit-content;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    list-style-type: none;
}