.content-products {
    list-style-type: none;
    padding: 0;
    display: grid;
    height: fit-content;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.content-products>li>div>a {
    text-decoration: none;
}


.content-products>li>div>div>h5>a {
    text-decoration: none;
}

.content-products>li>div {
    height: 400px
}